<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- If you use WebView / network libraries -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMDA1">
        <activity
            android:name=".followingyou"
            android:exported="false" />
        <!-- Non-launcher screens: exported=false (good), add singleTop for stability -->
        <activity
            android:name=".viewstory"
            android:exported="false" />
        <activity
            android:name=".story"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".instaprof"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".highlight"
            android:exported="false" />
        <activity
            android:name=".editprofile"
            android:exported="false" />
        <activity
            android:name=".gallery"
            android:exported="false" />
        <activity
            android:name=".camera"
            android:exported="false" />
        <activity
            android:name=".addingstory"
            android:exported="false" />
        <activity
            android:name=".following"
            android:exported="false" />
        <activity
            android:name=".calling"
            android:exported="false" />
        <activity
            android:name=".chat"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".jacob_wSearch"
            android:exported="false" />
        <activity
            android:name=".internshala"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".feedpage"
            android:exported="false" />
        <activity
            android:name=".feed"
            android:exported="false" />

        <activity
            android:name=".cred"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" /> <!-- Only launcher needs exported=true -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>